* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    height: 120px;
    background-color: #61787F;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 20px;
}

header .logo img {
    position: relative;
    height: 94px;
    margin-right: 20px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    margin-left: 60px;
}

main {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
}

h2 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 600;
    width: 60%;
}

.best-movie, .category, .other-categories {
    margin-bottom: 40px;
}

.show_best_movie {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 20px;
    border: black solid 5px;
}

.movie img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}
.movie-title {
    font-size: 24px;
    font-weight: 600;
    padding-right:  50%;
}

.movie-info {
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.movie-info h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 48px;
}
.movie-info p {
    padding-top: 0;
    font-weight: 100;
    font-size: 28px;
}

.pagination {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

button {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin-top: auto;
    background-color: #ff0000; /* Red background */
    width: 166px;
    height: 48px;
    transition: background-color 0.3s;
    position: relative;

}

button:hover {
    background-color: #cc0000;
}

.movies-grid {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 60px;
    justify-content: center;
    margin: 0 auto;
}

.movie-item {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 250px;
}

.movie-item img {
    width: 100%;
    height: auto;
    display: block;
}

.movie-overlay {
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.movie-title {
    font-size: 18px;
    margin: 0 0 10px;
}

.movie-item button {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    margin-left: 40%;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.movie-item button:hover {
    background-color: rgba(255, 0, 0, 0.7);
    border-color: rgba(255, 0, 0, 0.7);
}

.category-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.description {
    margin-top: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
}

.modal-body {
    text-align: center;
}


#close-modal {
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    margin-left: 40%;
    margin-top: 5%;
}

#close-modal:hover {
    background-color: #cc0000;
}

/* Phones */
@media (max-width: 599px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px;
    }

    header .logo img {
        margin: 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .show_best_movie {
        flex-direction: column;
        align-items: center;
    }
    .movie-info h3 {
        margin-top: 10px;
        font-size: 32px;
        text-align: left;
    }
    nav li {
        margin: 5px 0;
    }

    .movie img {
        margin: 0 0 20px 0;
        width: 150px;
    }

    .movie-info {
        flex-grow: 1;
        padding-left: 20px;
    }
    
    .movies-grid {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    h2  {
        text-align: center;
        position: relative;
        width: 100%;
    }
    button {
        margin-top: 20px;
    }

    .hide-on-mobile {
        display: none;
    }
    .close-button {
        position: absolute;
        top:-3%;
        right: 20px;
        color: #c40f0f;
        float: right;
        font-size: 60px;
        font-weight: 300;
        cursor: pointer;
    }
    .close-button:hover,
    .close-button:focus {
        background-color: rgb(196, 185, 185);
        text-decoration: none;
        cursor: pointer;
}
.category-menu {
    width: 100%;
}
}
/* Tablets */
@media (min-width: 600px) and (max-width: 1199px) {
    .movies-grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .close-button {
        display: none;
    }
}
/* Desktops */
@media (min-width: 1200px) {
    .movies-grid {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
    .close-button {
        display: none;
    }
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #ddd;
    color: #333;
}

#category-select  {
    width: 50%;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 600;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

/* Modal window */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-title{
    font-size: 48px;
}
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 10% auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    align-items: stretch
    
}
.modal-body {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 100;
}
.modal-header {
    margin-bottom: 40px;
}
.modal-actors p{
    margin-top: 20px;
}
.modal-body img {
    position: absolute;
    top: -90%;
    right: 0;
    width: 150px;
    height: 220;
}


#close-modal:hover {
    background-color: #cc0000;
}

@media (min-width: 600px) {
    .modal-content {
        max-width: 600px;
    }
    .modal-cast {
        margin-top: 20px;
    }
  
}

@media (max-width: 599px) {

    .modal-content{
        height: auto;
        padding: 0px 20px 0px 20px;
        float: none;
        display: flex;
        flex-direction: column;
        align-items: self-start;
        
    }
    .modal-body{
        display: flex;
        flex-direction: column;
        text-align: left;
        font-weight: 100;
    }
    .modal-body img {
        position:initial;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-left: 0;
        width: 90%;
    }
    .modal-header {
     padding-bottom: 20px;
    }
    .modal-header p{
        font-weight: 600;
        line-height: 2ch;
       }
    .modal-header h2 {
        margin-bottom: 0;
        margin-top: 20px;
        padding: 0;
        font-size: 30px;
        text-align: left;
    }
    .modal-actors p{
        margin-top: 0px;
    }
}